<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vivalink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VivaLink">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".DonorsHomeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RequestsActivity" />
        <activity android:name=".DonateActivity" />
        <activity android:name=".DonorSignUpActivity" />
        <activity android:name=".EditProfileActivity" android:exported="false" />
        <activity android:name=".ChangePasswardActivity" android:exported="false" />
        <activity android:name=".HospitalHomeActivity" android:exported="false" />
        <activity android:name=".HospitalRequestsActivity" android:exported="false" />
        <activity android:name=".CreateRequestActivity" android:exported="false" />
        <activity android:name=".HospitalDonorsActivity" android:exported="false" />
        <activity android:name=".HospitalSettingsActivity" android:exported="false" />
        <activity android:name=".HospitalEditProfileActivity" android:exported="false" />
        <activity android:name=".HospitalChangePassward" android:exported="false" />
        <activity android:name=".RequestsDetailsActivity" />
        <activity android:name=".BloodBankHomeActivity" android:exported="false" />
        <activity android:name=".BloodBankDonorsActivity" android:exported="false" />
        <activity android:name=".BloodBankRequestsActivity" android:exported="false" />
        <activity android:name=".BloodBankCreateRequestActivity" android:exported="false" />
        <activity android:name=".BloodBankSettingsActivity" android:exported="false" />
        <activity android:name=".BloodBankChangePassward" android:exported="false" />

    </application>
</manifest>
